<h1>Join the Club</h1>

<form method="POST" action="/member/join">
    <input
        type="password"
        name="passcode"
        placeholder="Enter secret passcode"
        required
    >

    <button type="submit">
        Become a Member
    </button>
</form>

<a href="/">Back Home</a>