<h1>Signup</h1>

<form method="POST" action="/auth/signup">
    <input name="firstName" placeholder="First name" />
    <input name="lastName" placeholder="Last name" />
    <input name="email" placeholder="Email" />
    <input name="password" type="password" placeholder="Password" />
    <button>Sign Up</button>
</form>