<!DOCTYPE html>
<html>
<head>
    <title>New Message</title>
    <link rel="stylesheet" href="/style.css">
</head>

<body>
    <h1>Create New Message</h1>

    <form method="POST" action="/new">
        <!--method="post"-sends data via post request (not visible in the url)-->
        <!--action="/new" -submit to the post /new route in your router-->
        <label>Your Name</label>
        <br>

        <input type="text" name="messageUser" required>
        <!--messageUser is the key in req.body-->

        <br><br>

        <label>Your Message</label>
        <br>

        <textarea name="messageText" required></textarea>

        <br><br>

        <button type="submit">Submit</button>
    </form>

    <br>

    <a href="/">Back Home</a>
</body>
</html>